.ipynb_checkpoints/ForestFireAnalysis-checkpoint.ipynb
DATA
.ipynb_checkpoints/ForestFireAnalysis-checkpoint.ipynb
D:\Data Science Projects\.ipynb_checkpoints
\.ipynb_checkpoints/ForestFireAnalysis-checkpoint.ipynb
